#gamecanvas {
    width: 640px;
    margin: 0 auto;
}

#gameboard {
    background-image: url('../img/core/grid-bg-960.png');
    background-size: 100% auto;
    width: 640px;
    height: 640px;
}

#gameboard .row {
    height: 32px;
}