#statusbar {
    display: inline-block;
    background-color: palegreen;
    padding: 15px;
}

#statusbar span.statusbar-item {
    color: forestgreen;
    float: left;
    padding-right: 40px;
}

#gameTitle {
    font-weight: bold;
}

#debugbar {
    float: right;
    font-size: 12px;
}